html.dark {
  --framebase-color-bg: #1f1f1f;
  --framebase-color-bg-page: #141414;
  --framebase-color-bg-overlay: #262626;
  --framebase-color-fill-light: #262626;
  --framebase-color-fill-lighter: #1f1f1f;
  --framebase-color-border: #303030;
  --framebase-color-border-light: #363636;
  --framebase-color-border-lighter: #2b2b2b;
  --framebase-color-border-strong: #424242;
  --framebase-color-text-primary: rgba(255, 255, 255, 0.95);
  --framebase-color-text-regular: rgba(255, 255, 255, 0.88);
  --framebase-color-text-secondary: rgba(255, 255, 255, 0.72);
  --framebase-color-text-placeholder: rgba(255, 255, 255, 0.45);
  --framebase-shadow-light: 0 1px 6px rgba(0, 0, 0, 0.32);
  --framebase-shadow-base: 0 6px 18px rgba(0, 0, 0, 0.45);

  --el-color-primary: var(--framebase-color-primary);
  --el-color-primary-rgb: 22, 119, 255;
  --el-color-primary-light-3: var(--framebase-color-primary-light-3);
  --el-color-primary-light-5: var(--framebase-color-primary-light-5);
  --el-color-primary-light-7: var(--framebase-color-primary-light-7);
  --el-color-primary-light-8: var(--framebase-color-primary-light-8);
  --el-color-primary-light-9: var(--framebase-color-primary-light-9);
  --el-color-primary-dark-2: var(--framebase-color-primary-dark-2);
}
